<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.OnlineShop.dao.mybatis.ICardDAO">
  <resultMap id="CardResultMap" type="Card">
	<id column="id" property="id"/>
	<result column="card_verification_value" property="cardVerificationValue"/>
	<result column="bank" property="bank"/>
	<result column="number" property="number"/>
	<result column="cardholder_name" property="cardholderName"/>
	<result column="expiration_date" property="expirationDate"/>
	<association property="user" column="u.id" resultMap="./UserMapper/UserResultMap"/>
  </resultMap>
</mapper>