<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.citiesProject.dao.IPathDAO">
  <resultMap id="PathResultMap" type="Path">
	<id column="id" property="id"/>
	<result column="bidirectional" property="bidirectional"/>
	<association property="transport" column="path.transport_id" foreignColumn="t.id" resultMap="com.solvd.citiesProject.dao.ITransportDAO.TransportResultMap"/>
	<association property="from" column="path.id_point_from" foreignColumn="p_from.id" columnPrefix="p_from_" resultMap="com.solvd.citiesProject.dao.IPointDAO.PointResultMap"/>
	<association property="to" column="path.id_point_to" foreignColumn="p_to.id" columnPrefix="p_to_" resultMap="com.solvd.citiesProject.dao.IPointDAO.PointResultMap"/>
  </resultMap>
</mapper>