<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.OnlineShop.dao.mybatis.IPathDAO">
  <resultMap id="PathResultMap" type="Path">
	<id column="id" property="id"/>
	<result column="distance" property="distance"/>
	<association property="pointFrom" column="path.id_point_from" foreignColumn="p.id"  resultMap="com.solvd.citiesProject.dao.mybatis.IPointDAO.PointResultMap"/>
	<association property="pointTo" column="path.id_point_to" foreignColumn="p.id"  resultMap="com.solvd.citiesProject.dao.mybatis.IPointDAO.PointResultMap"/>
  </resultMap>
</mapper>