<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 <properties resource="db.properties"/>

  <typeAliases>
      <typeAlias alias = "User" type = "com.solvd.citiesProject.models.User"/>
	  <typeAlias alias = "City" type = "com.solvd.citiesProject.models.City"/>
	  <typeAlias alias = "License" type = "com.solvd.citiesProject.models.License"/>
	  <typeAlias alias = "Point" type = "com.solvd.citiesProject.models.Point"/>
	  <typeAlias alias = "Transport" type = "com.solvd.citiesProject.models.Transport"/>
	  <typeAlias alias = "Path" type = "com.solvd.citiesProject.models.Path"/>
	  <typeAlias alias = "Country" type = "com.solvd.citiesProject.models.Country"/>
  </typeAliases>
  
	
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="./mappers/UserMapper.xml"/>
	<mapper resource="./mappers/CityMapper.xml"/>
	<mapper resource="./mappers/LicenseMapper.xml"/>
	<mapper resource="./mappers/TripMapper.xml"/>
	<mapper resource="./mappers/PointMapper.xml"/>
	<mapper resource="./mappers/TransportMapper.xml"/>
	<mapper resource="./mappers/PathMapper.xml"/>
	<mapper resource="./mappers/CountryMapper.xml"/>
  </mappers>
  
</configuration>